<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
    <link rel="stylesheet" href="static\css\style.css">
    <link rel="stylesheet" href="static\css\display-mentors.css">
    <link rel="stylesheet" href="static\css\wallet.css">
    <title>Wallet</title>
    <script>
        function switchInfo(dropdownID)
        {
            var info = document.getElementById(dropdownID)
            info.style.display=(info.style.display=='none')?'':'none'
        }
    </script>
</head>
<body>

<header>
    <img src="static\img\logo.png" alt="QuestStore logo">
</header>
<div class="row">
    <aside class="menu col-3">
        <nav>
            <ul>
                <li><a href="/student" class="button">My Profile</a></li>
                <li><a href="/student/myclass" class="button">My Class</a></li>
                <li><a href="/student/wallet" class="button">Wallet</a></li>
                <li><a href="/student/store" class="button">Buy Artifact</a></li>
            </ul>
        </nav>
    </aside>
    <section class="col-6">
        <div class="col-12 area">
            <h4 class="col-6 far fa-user" id="owner"> : {{ fullname }}</h4>
            <h4 class="col-6 far fa-closed-captioning" id="coolcoins"> : {{ coins }}cc</h4>
            <div class="tab col-12">
                <a href="\student\wallet" class="tablinks">Owned</a>
                <a href="\student\wallet\pending" class="tablinks active" >Pending</a>
                <a href="\student\wallet\used" class="tablinks" >Used</a>
            </div>
            <table class="default-table">
                <col width="70%">
                <col width="30%">
                <tr>
                    <th>Name</th>
                    <th>Action</th>
                </tr>

                {% set counter = 0 %}
                {% if artifact_list|length == 0 %}
                    <tr><td colspan="2">There are no artifacts here.</td></tr>
                {% endif %}
                {% for artifact in artifact_list %}
                    {% set counter = counter + 1 %}
                    <tr>
                        <td onclick="switchInfo('artifact{{ counter }}')">{{ artifact.name }}</td>
                        <td class="use"><a href="/student/wallet/use/{{ artifact.ID }}">Cancel</a></td>
                    </tr>
                    <tr id="artifact{{ counter }}" style="display:none">
                        <td colspan="2">{{ artifact.description }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </section>

    <aside class="col-3 right-panel">
        <a href="/logout" class="sign-out-button button">Sign out</a>
        <script id="calendar" type="text/javascript" src="http://404bajery.pl/kalendarz/kal.php?tlo=8eb0e7&czcionka=FFFFFF&nag=8eb0e7&dni=8eb0e7&dzis=0099CC&szer=200"></script>
    </aside>
</div>
<footer class="col-12">
    All rights reserved.
</footer>
</body>
</html>